{{- /*
A component that displays a clickable category card.

Parameters:
* `icon` – the optional icon class shown near the title.
* `title` – the title of the card.
* `url` – the card destination URL.
* `badges` – the optional list of badges to be shown near the title.
* `class` – the optional class for extending the styles of a specific card.
*/ -}}

{{ $icon := .Get "icon" }}
{{ $title := .Get "title" }}
{{ $url := .Get "url" }}
{{ $class := .Get "class" }}

{{ $url = partial "theme/functions/get-doc-link.html" (dict
    "link" $url
    "page" .Page
) }}

<a class="docs-category-card {{ with $class }}{{ . }}{{ end }}"
   href="{{ $url }}">
    {{ with $icon }}
        <i class="card-icon {{ . }}"></i>
    {{ end }}
    <div class="card-content">
        <p class="title">
            <span class="title-holder">{{ $title | markdownify }}</span>
        </p>
        <p class="description">{{ .Inner | markdownify }}</p>
    </div>
</a>

{{- /* Strip trailing newline. */ -}}
