{{- /*
Returns the current documentation full version name
or the full name of the provided version.

Usage:
{{< version >}} -> 1.9.0
{{< version "2" >}} -> 2.0.0
*/ -}}

{{- $wantedVersion := .Get 0 -}}
{{- $versions := site.Data.versions -}}
{{- $currentVersion := partial "functions/get-doc-version.html" . -}}
{{- $versionFullName := $currentVersion.full -}}
{{- if $wantedVersion -}}
    {{- $version := index (where $versions "short" $wantedVersion) 0 -}}
    {{- $versionFullName = $version.full -}}
{{- end -}}
{{- $versionFullName -}}
{{- /* Strip trailing newline. */ -}}
