{{- /*
Returns the current documentation full version name
or the full name of the provided version.

Usage:
{{< version >}} -> 1.9.0
{{< version "2" >}} -> 2.0.0
*/ -}}

{{- $wantedVersion := .Get 0 -}}
{{- $versionData := partial "theme/functions/get-doc-version-data.html" . -}}
{{- $versionFullName := $versionData.version.full -}}
{{- if $wantedVersion -}}
    {{- $versions := index site.Data.versions $versionData.module | default (slice) -}}
    {{- $version := where $versions "short" $wantedVersion -}}
    {{- $version = cond (gt (len $version) 0) (index $version 0) dict -}}
    {{- $versionFullName = $version.full -}}
{{- end -}}
{{- $versionFullName -}}
{{- /* Strip trailing newline. */ -}}
