{{- $link := .Destination }}
{{- $isMailto := strings.HasPrefix $link "mailto:" -}}
{{- $isAbsolute := strings.HasPrefix $link "http" -}}
{{- $isSamePageAnchor := strings.HasPrefix $link "#" -}}

{{- $skipNofollow := partial "theme/functions/whitelist-checker.html" $link -}}
{{- $isExternalLink := partial "theme/functions/is-external-link.html" $link -}}

{{- if or $isAbsolute $isSamePageAnchor -}}
    {{- $link = $link | safeURL -}}
{{- else if (not $isMailto) }}
    {{- $link = partial "theme/functions/resolve-relative-link.html" (dict
        "link" $link
        "page" .Page
    ) -}}
    {{- $link = partial "theme/functions/get-doc-link.html" (dict
        "link" $link
        "page" .Page
    ) -}}
{{- end -}}

<a href="{{ $link }}"
   {{ with .Title }} title="{{ . }}"{{ end }}
   {{ if $isExternalLink }}
   class="external-link"
   target="_blank"
   rel="noopener{{ if not $skipNofollow }} nofollow{{ end }}"
   {{ end }}>{{ .Text | safeHTML }}</a>
{{- /* Strip trailing newline. */ -}}
